﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="IPInvoiceReport.ascx.cs" Inherits="EMR_IP.WebReports.IPInvoiceReport" %>


<link href="../Styles/Maincontrols.css" rel="stylesheet" type="text/css" />
<link href="../Styles/Datagrid.css" rel="stylesheet" type="text/css" />
<link href="../Styles/style.css" rel="Stylesheet" type="text/css" />

<style>
    .BoldStyle
    {
        font-weight: bold;
    }

    .BorderStyle
    {
        border: 1px solid #dcdcdc;
        height: 20px;
    }
</style>

<span class="lblCaption1">Invoice</span>
<br />
   <%=strClaimDetails %> 

