﻿ .level1
        {
            color: #2E4d7B;
            background-color: white;
            font-family:Arial, Medium
            font-size:medium;
            font-weight:normal;
           
        }

        .level2
        {
            color: #2E4d7B;
            background-color: white;
            font-family:Arial, Medium
            font-size:medium;
            font-weight:normal;
            
            
        }

        .level3
        {
            color: #2E4d7B;
            background-color: white;
            font-family: "Segoe UI", Verdana,Arial,sans-serif;
            font-size:medium;
            font-weight:normal;
        }
        
         .level4
        {
            color: #2E4d7B;
            background-color: white;
            font-family: "Segoe UI", Verdana,Arial,sans-serif;
         
            font-weight:normal;
        } 

        .hoverstyle
        {
            font-weight: bold;
            color:#D3DEEF
          
        }
        .label
        {
               
            font-weight:normal;
            font-size:12px;
             font-family: "Segoe UI", Verdana,Arial,sans-serif;
            border-radius:0px;   
            
           
        }
       .lblCaption
        {
            color:#02a0e0;   
            font-weight:normal;
            font-size:12px;
             font-family: "Segoe UI", Verdana,Arial,sans-serif;
            border-radius:0px;   
            
           
        }
       .lblCaption1
        {
            color:#005c7b;   
            font-weight:normal;
            font-size:12px;
            font-family: "Segoe UI", Verdana,Arial,sans-serif;
            border-radius:0px;   
            
           
        }


       
        .button1
{
         color:#FFFFFF;
          font: bold 84% "Segoe UI", Verdana,Arial,sans-serif;;
          background-color:#4fbdf0;
          border: 1px solid;
          border-color:#ffffff;
          letter-spacing:1px;
          height:25px;
          FONT-SIZE: 11px;
}

        .PageHeader
        {
            font-family: 'Arial', Times, serif; font-size: 15px; font-weight: bold;color:#2078c0; text-align: left;
        }
        .button1Click
        {
                 color:#4fbdf0;
                  font: bold 84% 'trebuchet ms',helvetica,sans-serif;
                  background-color:#ffffff;
                  border: 1px solid;
                  border-color:#4fbdf0;
                  letter-spacing:1px;
                  height:25px;
                  FONT-SIZE: 11px;
        }

/* To style Ajax Tabs*/
.ajax__tab_yuitabview-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 1px #ffffff;
    letter-spacing:1px;
    
  
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer 
{
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #02a0e0;
    border-bottom-width:0px;
    
   
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#ffffff;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
    height:17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:9pt;
    font-weight:normal;
    letter-spacing:0px;
    background-color:#02a0e0;
    border-color:#02a0e0;
}
.ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer 
{
     
    filter:progid:DXImageTransform.Microsoft.Gradient
          (GradientType=0,StartColorStr='#ffffff',EndColorStr='#ffffff');
    
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab 
{
        color:black;
        background-color:#ffffff;
          border-bottom:solid 0px #ffffff;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
{
 
     filter:progid:DXImageTransform.Microsoft.Gradient
          (GradientType=0,StartColorStr='#4fbdf0',EndColorStr='#02a0e0');
}

.ajax__tab_yuitabview-theme .ajax__tab_inactive .ajax__tab_outer
{
    
}


.ajax__tab_yuitabview-theme .ajax__tab_body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#FFF;    
    border:solid 1px #ffffff;
    border-top-width:0px;

}
/* To style Ajax Tabs Ends*/


 

 .TabButtonBlue
{
          color:#FFFFFF;
          font: bold 84% "Segoe UI", Verdana,Arial,sans-serif;;
          background-color:#02a0e0;
          border-color:#02a0e0;
          border: 1px solid;
          border-color:#ffffff;
          letter-spacing:1px;
          height:25px;
          FONT-SIZE: 11px;
}
  .TabButtonWhite
{
          color:#02a0e0;
          font: bold 84% "Segoe UI", Verdana,Arial,sans-serif;;
          background-color:#ffffff;
          border-color:#02a0e0;
          border: 1px solid;
          letter-spacing:1px;
          height:25px;
          FONT-SIZE: 11px;
}