﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EMRHomeTopMenue.ascx.cs" Inherits="EMR_IP.UserControl.EMRHomeTopMenue" %>

     <link href="../Styles/Maincontrols.css" rel="stylesheet" type="text/css" />

<link href="../Styles/MenuStyle.css" rel="stylesheet" type="text/css" />
 

<table  cellpadding="0" cellspacing="0" width="100%" style=" margin:0px 0px 0px 0px; padding:0px;">
    <tr>
        <td >
            <div id='cssmenu'>

                <ul>
                    <li></li>
                    <li>
                         <a href='<%= ResolveUrl("~/Registration/PatientWaitingList.aspx")%>'><span>Home</span></a>
                    </li>
                    <li  >
                       
                       <a href='<%= ResolveUrl("~/Registration/PatientWaitingList.aspx")%>' style="text-decoration:none;background-image:url('<%= ResolveUrl("~/Images/home_menu.PNG")%>');resize:none;height:5px;width:5px;background-repeat:no-repeat;"   ></a> 
                    </li>
                  
                     
                </ul>
                <div style=" text-align: left;">
                     
                 </div>
               
            </div>
             
        </td>
    </tr>
</table>